body {
	background-color: #CCCCCC;
}

h1 {
    color: #efeee7;
    background-color: #008080
 }

h2 {
	font-size: 24px;
}

.container {
	width: 1024px;
	margin: 0 auto;
}

#main-info,
#about-me,
#bio-image {
	float: left;
}

#bio-image {
	margin-right: 20px;
	width: 175px;
	height: 175px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    float: right;
}


/*img {
  background: #eaeaed;
  border: 1px solid #9799a7;
  float: left;
  /*margin: 8px 0 0 20px;
  padding: 4px;
  width: 24px;*/



